
.home{
    width: 50rem;
    margin: auto;
    padding: 5rem 0;
}

.home-title{
    letter-spacing: 12px;
}

.todo-circle{
    height: 40px;
    width: 40px;
    background: linear-gradient(135deg, #6a9ff5, #b46be3);
    border-radius: 50%;
}